* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }

  @font-face {
    font-family: 'CustomFont1';
    src: url('HoneySalt.otf') format('otf');
  } 

  @font-face {
    font-family: 'CustomFont2';
    src: url('Sunflare.woff') format('woff');
  } 
  
  html {
    font-family: 'CustomFont1', sans-serif;
    font-size: 16px;
  }

  h1, h2 {
    font-family: 'CustomFont2', sans-serif;
    text-align: center;
    letter-spacing: 2px;
  }

  p, li {
    font-size: 1rem; /* Use relative font-sizing */
    letter-spacing: 0.5px; /* Adjust letter spacing for body text */
    line-height: 1.5;
}

/* Indent first paragraph after each heading */
h1 + p, h2 + p {
    text-indent: 2em;
}

  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }

  nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: underline;
    padding: 10px;
    display: block;
}

nav a:hover, nav a:focus {
    text-decoration: none;
    background-color: #ddd;
}


a {
    text-decoration: underline;
    outline: none; 
}

a:hover, a:focus {
    text-decoration: none; 
}

a:visited {
    color: purple;
}

a:focus {
    color: darkblue;
}

a:hover {
    color: red;
}


ul, ol {
    list-style-type: square; 
}


a[href^="http"] {
    background-image: url('external-link-52.png');
    background-size: 12px 12px; /* Adjust size */
    background-repeat: no-repeat;
    background-position: right center; /* Position image to the right */
    padding-right: 18px; /* Ensure text doesn't overlap with the icon */
}



main {
    margin: 2rem;
}
  